[access]
	inheritFrom = All-Projects
[project]
	description = Register the service endpoints to MSB so it can be used for service request routing and load balancing. Registrator puts service endpoints info to MSB discovery module(Consul as the backend) when an ONAP component is deployed by OOM, and update its state along with the life cycle, such as start, stop, scaling, etc.
[access "refs/*"]
	owner = group ldap/onap-gerrit-oom-registrator-committers
	owner = group saml/onap-gerrit-oom-registrator-committers
	read = group GitHub Replication
